@import url('https://fonts.googleapis.com/css?family=Roboto:300,$text-weight,700&subset=latin-ext');

$white: #fff;
$red: red;
$lightgray: lightgray;
$fuchsia-blue: #6b4ecb;
$mine-shaft: #313131;

// Colors
$toggle-color: $lightgray;
$toggle-icon-color: $mine-shaft;
$toggle-sub-color: $red;
$delete-button: $red;
$delete-text: $white;
$background-color: $fuchsia-blue;
$background-sub-color: rgba($white, .2);

// Fonts
$text-font: 'Roboto', sans-serif;
$text-color: $white;
$title-text-size: 18px;
$text-size: 14px;
$bold-text-weight: 700;
$normal-text-weight: 400;
$light-text-weight: 300;

// BgColor For Loop
$list-step: 22;
$strength: 2;
@for $i from 0 to $list-step {
.list-item:nth-child(#{$i}) {
	background-color: lighten($background-color, $i+$strength);
  }
}
.list-item:nth-child(1) {
	background-color: $background-color;
}
.list-item:nth-child(2) {
	background-color: lighten($background-color, 3);
}

.list {
	$list: &;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	padding: 40px;
	font-family: $text-font;
	font-weight: $normal-text-weight;
	&-item {
		display: flex;
		flex-grow: 1;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-start;
		align-items: stretch;
		margin-top: -4px;
		padding: 8px;
		border-radius: 4px;
		&-content {
			display: flex;
			flex-grow: 1;
			flex-direction: column;
			justify-content: flex-start;
			align-items: stretch;
			padding: 8px;
			color: $text-color;
		}
		&__toggle {
			order: -1;
			display: flex;
			flex-grow: 0;
			flex-direction: column;
			justify-content: flex-start;
			align-items: stretch;
			margin: 6px;
			width: 20px;
			font-size: $title-text-size;
			font-weight: $bold-text-weight;
			&:before {
				content: '';
				display: none;
				flex-grow: 0;
				justify-content: center;
				align-items: center;
				align-self: center;
				margin: 8px 0;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: rgba($white, .8);
				color: $toggle-icon-color;
				line-height: 20px;
			}
			&:after {
				content: '';
				display: none;
				flex-grow: 1;
				align-self: center;
				margin-bottom: 40px;
				width: 2px;
				background-color: rgba($white, .8);
			}
		}
		&__name {
			display: flex;
			flex-grow: 1;
			justify-content: space-between;
			margin-bottom: 8px;
			padding: 8px 12px;
			border-bottom: 1px solid lighten($background-color, 10%);
			font-size: $title-text-size;
			font-weight: $normal-text-weight;
			user-select: none;
			cursor: pointer;
		}
		&__delete {
			display: flex;
			flex-grow: 0;
			justify-content: center;
			align-items: center;
			align-self: flex-end;
			margin: 0;
			padding: 4px 12px;
			border: 0;
			color: $delete-text;
			background-color: transparent;
			font-size: $text-size;
			cursor: pointer;
			outline: 0;
			&:hover {
				color: $delete-button;
			}
		}
		&__phone {
			&:before {
				content: '📞';
				margin-right: 8px;
			}
			display: flex;
			flex-grow: 1;
			padding: 8px 12px;
			font-size: $text-size;
			font-weight: $light-text-weight;
		}
		&__city {
			&:before {
				content: '🌍';
				margin-right: 8px;
			}
			display: flex;
			flex-grow: 1;
			padding: 8px 12px;
			font-size: $text-size;
			font-weight: $normal-text-weight;
		}
		& #{$list}-item {
			display: none;
			align-content: flex-end;
			padding: 0;
			background-color: $background-sub-color;
		}

		input[type="checkbox"] {
			display: none;
			& + label {
				&.child {
					cursor: pointer;
					&:after {
						display: flex;
					}
					&:before {
						display: flex;
						content: '+';
					}
					& ~ #{$list}-item {
						display: none;
					}
				}
			}
			&:checked {
				& + label.child {
					&:before {
						content: '-';
					}
					& + #{$list}-item-content #{$list}-item.open {
						display: flex;
					}
				}
			}
		}
	}
}
